    
   <script>
        document.addEventListener('DOMContentLoaded', () => {
         var currentYear = new Date().getFullYear();
         document.getElementById('currentYear').textContent = currentYear;
        });
   </script>
   
   <footer class="bg-[#000000] flex w-full h-20 text-white items-center justify-center mt-3">
        <p class="text-[#FFF3DC] md:text-base sm:text-sm text-xs">&copy <span id="currentYear"></span> Created and Developed by Temoso Mojapelo </p>
   </footer> 
</body>
</html>