<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Prediction</title>
</head>
<body>
  <header class="mb-2 px-4">
    <div class="relative mx-auto flex max-w-screen-lg flex-col py-4 sm:flex-row sm:items-center sm:justify-between">
      <a class="flex items-center text-2xl font-black" href="/">
        <span class="mr-2 text-3xl text-[#908370]">
          <span>PREDICT</span>
      </a>
      <input class="peer hidden" type="checkbox" id="navbar-open" />
      <label class="absolute right-0 mt-1 cursor-pointer text-xl sm:hidden" for="navbar-open">
        <span class="sr-only">Toggle Navigation</span>
        <i class="fa fa-bars" style="font-size:24px;color: #908370;" for="navbar-open"></i>
      </label>
      <nav aria-label="Header Navigation" class="peer-checked:block hidden pl-2 py-6 sm:block sm:py-0">
        <ul class="flex flex-col gap-y-4 sm:flex-row sm:gap-x-8">
          <li class=""><a class="text-[#E1D7C2] hover:text-[#8A764E]" href="/">Home</a></li>
          <li class=""><a class="text-[#E1D7C2] hover:text-[#8A764E]" href="/about">About</a></li>
          <li class=""><a class="text-[#E1D7C2] hover:text-[#8A764E]" href="/contact">Contact</a></li>
          <li class="mt-2 sm:mt-0"><a class="rounded-full border-2 border-[#8A764E] px-6 py-2 font-medium text-[#E1D7C2] bg-[#8A764E] hover:bg-[#E1D7C2] hover:text-[#8A764E]" href="/demo">Get Started</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
    



    
    