<%- include("partials/header.ejs") %>
<div class="max-w-screen-lg sm:mt-[-90px] md:mt-[-80px] mt-[0px] mb-[90px] text-white w-full h-screen mx-auto flex flex-col justify-center">
    <div class="min-[250px]:mx-6 sm:mx-5 md:mx-4 min-[250px]:my-5 sm:my-4 md:my-3 my-2">
        <h1 class="font-[poppins] font-bold sm:text-3xl md:text-2xl text-xl py-4 text-[#B49967]">About Me</h1>
        <p class="text-[#908370]">Hi! My name is Temoso Mojapelo, and I am the sole author and developer of the application Predict. My goal in developing Predict is to produce a simple and user-friendly online application that provides the greatest experience possible. The online application is still in development however I have published a demo for you to try out.</p>
        <h1 class="font-[poppins] font-bold sm:text-3xl md:text-2xl text-xl py-4 text-[#B49967]">My journey</h1>
        <p class="text-[#908370]">With a passion for Full Stack Web Development, specifically MERN Stack, I began developing the web application's user interface and user experience using Figma software, which resulted in a fully functional web application. Using NodeJS to construct the backend, I was able to design the frontend with EJS, HTML, and tailwindCSS to make it distinctive and user-friendly.</p>
        <h1 class="font-[poppins] font-bold sm:text-3xl md:text-2xl text-xl py-4 text-[#B49967]">Contact Me</h1>
        <p class="text-[#908370]">If you have any questions, suggestions, or want to collaborate and build something, feel free to reach out at <a href="mailto:btemoso7@gmail.com">btemoso7@gmail.com</a>, or click <a class="font-bold" href="www.linkedin.com/in/temoso-mojapelo-807893240">here</a> to reach out on my linkedIn page. I'm always happy to hear from users and am here to help.</p>
        <p class="sm:pt-5 md:pt-4 pt-3 text-[#908370]">Thank you for checking out Predict!</p>
    </div>
</div>



<%- include("partials/footer.ejs") %>