<%- include("partials/header.ejs") %>
<div class="max-w-[800px] mt-[-96px] w-full h-screen mx-auto flex flex-col items-center justify-center">
    <div class="bg-[#E1D7C2] flex flex-col min-[250px]:p-[30px] sm:p-[60px] md:p-[80px] md:px-[250px] p-[125px] px-[300px] rounded-2xl">
        <form class="mx-auto" action="/submit" method="POST">
            <label class="ml-2 text-[#B7B5B1] min-[250px]:pt-2 sm:text-2xl md:text-xl text-md">First Team: </label>
            <p class="pt-3 pb-4 my-2 ml-2"><input class=" md:text-xl text-md outline-none border-b-4 border-[#908370] text-[#908370] bg-transparent" type="text" name="firstTeam" id="firstTeam"></p>
            <label class="ml-2 text-[#B7B5B1] sm:text-2xl md:text-xl text-md">Opponent: </label>
            <p class="pt-3 pb-2 ml-2 mr-2 mb-2"><input class="md:text-xl text-md outline-none border-b-4 border-[#908370] text-[#908370] bg-transparent" type="text" name="opponent" id="Opponent"></p>
            <button class="bg-[#8A764E] border-[#8A764E] text-[#E1D7C2] md:text-md text-sm sm:px-4 md:px-5 px-4 py-3 my-2 mx-auto flex items-center rounded-full" type="submit">Generate</button>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>