<%- include("partials/header.ejs") %>
    <div class="text-white">
      <div class="max-w-[800px] mt-[-96px] w-full h-screen mx-auto text-center flex flex-col justify-center">
        <h1 class="md:text-7xl sm:text-6xl text-4xl text-[#B49967] text-3xl font-bold p-2">Welcome</h1>
        <p class="md:text-4xl sm:text-3xl text-2xl font-semibold text-[#908370] py-4">To Predict</p>
        <p class="md:text-2xl sm:text-xl font-medium text-[#908370] px-6">Predict is a free web program that predicts which team is most likely to win the upcoming game. try our demo by clicking the link below.</p>
        <button class="bg-[#8A764E] w-[200px] rounded-full font-semibold my-6 mx-auto py-3 text-[#E1D7C2]"><a href="/demo">Try Demo</a></button>
      </div>   
    </div>
<%- include("partials/footer.ejs") %>